@model Order
@{
    ViewData["Title"] = "Detail";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Order Detail</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="item d-flex mt-2">
                        <h4>Button Name:</h4>
                        <span class="ml-2">@Model.ButtonName</span>
                    </div>
                    <div class="item d-flex mt-2">
                        <h4>Button Url:</h4>
                        <span class="ml-2">@Model.ButtonUrl</span>
                    </div>
                    <div class="item d-flex mt-2">
                        <h4>Language:</h4>
                        @{
                            @if (Model.Language.IsDeleted == true)
                            {
                                <span class="ml-2">This section has no language</span>
                            }
                            else
                            {
                                <span class="ml-2">@Model.Language.Name (@Model.Language.Code)</span>
                            }
                        }
                    </div>
                </div>
            </div>
            <hr />
            <a asp-action="Index" class="btn btn-info text-light my-button">
                <i class="mdi mdi-keyboard-backspace"></i> <span>Back</span>
            </a>
        </div>
    </div>
</div>

