@model AuxiliarySection
@{
    ViewData["Title"] = "Create";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create New Auxiliary Section</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Url">Url</label>
                    <input asp-for="Url" class="form-control" rows="4" placeholder="Url">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="form-group" id="languageInput">
                    <label>Languages</label>
                    <select class="form-control" name="LanguageId" id="language">
                        @foreach (Language item in ViewBag.Languages)
                        {
                            <option value="@item.Id">@item.Code (@item.Name)</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Add</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

